<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SISMOBI - Sistemas de Monitoramento Biométrico</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div class="bgimg-1">
    <div class="caption" style="top: 42%;">
      <img src="/images/logo.png">
    </div>
  </div>

  <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Sistemas de Monitoramento Biométrico</h3>
    <p style="text-align: center;">
      A SISMOBI é uma empresa de tecnologia que atua nos setores fabrís e médicos,
      <br>fornecendo soluções de monitoramento sem fio das condições biométricas e ambientais de seus colaboradores e pacientes.
    </p>
  </div>

  <div class="bgimg-2">
    <div class="caption" style="top: 42%;">
      <span class="border" style="background-color:transparent;font-size:25px;color:crimson;">
        SEGURANÇA, CONFIABILIDADE, ECONOMIA
      </span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: center; height:210px;">
      <div style="width: 20%; float: left;">
        <img src="/images/ico1.png" style="width: 95px;">
      </div>
      <div style="width: 20%; float: left;">
        <img src="/images/ico2.png" style="width: 95px;">
      </div>
      <div style="width: 20%; float: left;">
        <img src="/images/ico3.png" style="width: 95px;">
      </div>
      <div style="width: 20%; float: left;">
        <img src="/images/ico4.png" style="width: 95px;">
      </div>
      <div style="width: 20%; float: left;">
        <img src="/images/ico5.png" style="width: 95px;">
      </div>
    </div>
  </div>

  <div class="bgimg-3">
    <div class="caption" style="top: 42%;">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;text-shadow: black 0.1em 0.1em 0.2em;">Sobre Nós</span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <p style="font-weight: 400;">Entusiastas e amantes de tecnologia, estudantes da turma 30SCJ da FIAP visando melhorar a qualidade de trabalho dentro
        de ambientes confinados, Andr&eacute;, Alexandre, Carlos, Lucas, Marli e Tatiane criaram o SISMOBI.</p>
      <p style="font-weight: 400;">Criado a partir de uma problem&aacute;tica existente hoje na ind&uacute;stria, onde temos um funcion&aacute;rio em
        ambiente confinado, sendo monitorado por um outro funcion&aacute;rio que fica a sua espera do lado de fora.</p>
      <p style="font-weight: 400;">Atrav&eacute;s do uso de IoT, foi criada uma vestimenta para monitorar o funcion&aacute;rio enquanto ele trabalha.
        Tal vestimenta &eacute; capaz de registrar diversos fatores e at&eacute; mesmo emitir um alerta em caso de uma altera&ccedil;&atilde;o
        extrema em que seja prejudicial ao funcion&aacute;rio.</p>
      <p style="font-weight: 400;">Para saber mais detalhes sobre o funcionamento, entre em contato conosco. Estaremos prontos a ajudar!</p>
    </div>
  </div>

  <div class="bgimg-4">
    <div class="caption" style="top: 28%;">
      <h3 style="color: white;">TRAGA SEU PROJETO, ESSA EQUIPE ESPERA POR VOCÊ</h3>
      <div class="row col justify-content-center" style="padding-top: 15px">
        <div class="col-md-2">
          <a class="linkCurriculo" data-rel="miniCurrAle">
            <img src="/images/av_alex.jpg" class="avatar" style="width: 120px;">
          </a>
          <br>ALEXANDRE
          <div id="miniCurrAle" class="miniCurriculo">
            Formação técnica em Processamento de Dados pelo Colégio Barão de Mauá, em 2012 concluiu o Bacharelado em Sistemas da Informação
            pelo IESA - (Instituto de Ensino Superior de Santo André), último trabalho realizado foi na Braskem onde iniciou
            em 1997 como faturista e saiu em 2017, trabalhando por 13 anos na Área Comercial.
          </div>
        </div>
        <div class="col-md-2">
          <a class="linkCurriculo" data-rel="miniCurrAndre">
            <img src="/images/av_andre.jpg" class="avatar" style="width: 120px;">
          </a>
          <br>ANDRÉ
          <div id="miniCurrAndre" class="miniCurriculo">
            Bacharel em Ciência da Computação e pós-graduado em gerenciamento de projetos, atuante na área de desenvolvimento de sistemas
            aproximadamente há 10 anos. Amante de tecnologia e atualmente aficcionado por sistemas IoT.
          </div>
        </div>
        <div class="col-md-2">
          <a class="linkCurriculo" data-rel="miniCurrCarlos">
            <img src="/images/av_carlos.jpg" class="avatar" style="width: 120px;">
          </a>
          <br>CARLOS
          <div id="miniCurrCarlos" class="miniCurriculo">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </div>
        </div>
        <div class="col-md-2">
          <a class="linkCurriculo" data-rel="miniCurrLucas">
            <img src="/images/av_lucas.jpg" class="avatar" style="width: 120px;">
          </a>
          <br>LUCAS
          <div id="miniCurrLucas" class="miniCurriculo">
            Técnico em Mecatrônica (2008), formado em Analise e desenvolvimento de sistemas (FIAP 2015), cursando MBA em Java soa &amp;
            IOT (FIAP). Atuo na área de TI desde 2009, atualmente trabalhando como analista de sistemas na Serasa Experian.
          </div>
        </div>
        <div class="col-md-2">
          <a class="linkCurriculo" data-rel="miniCurrMarli">
            <img src="/images/av_marli.jpg" class="avatar" style="width: 120px;">
          </a>
          <br>MARLI
          <div id="miniCurrMarli" class="miniCurriculo">
            Formada como Bacharel em Ciência da Computação pela UNIB – Universidade Ibirapuera em 2009. Atua na área de TI desde 2007
            e com desenvolvimento em Java desde 2012, realizando a manutenção do Internet Banking de grande instituição pública,
            manutenção em ambiente Web/Mobile de grande empresa no segmento de Telecomunicações.
          </div>
        </div>
        <div class="col-md-2">
          <a class="linkCurriculo" data-rel="miniCurrTati">
            <img src="/images/av_tati.jpg" class="avatar" style="width: 120px;">
            <br>TATIANE
          </a>
          <div id="miniCurrTati" class="miniCurriculo">
            Bacharel em Ciências da Computação pela Unisantos. Analista de Sistemas Java há 10 anos, atualmente funcionária de multinacional
            prestando serviços em instituição financeira com atuação em Internet Banking. Fascinada por tecnologia, principalmente
            em desenvolvimento de Software.
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

<script type="text/javascript">
  $(".linkCurriculo").click(function (e) {
    e.preventDefault();
    $('.miniCurriculo').hide();
    $('#' + $(this).data('rel')).show();
    e.stopPropagation();
  });
  $(document).click(function () {
    $(".miniCurriculo").hide();
  });
</script>

</html>