<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SISMOBI - Sistemas de Monitoramento Biométrico</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div class="bgimg-1">
    <div class="caption" style="top: 42%;">
      <img src="/images/logo.png">
    </div>
  </div>

  <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Sistemas de Monitoramento Biométrico</h3>
    <p style="text-align: center;">
      A SISMOBI é uma empresa de tecnologia que atua nos setores fabrís e médicos,
      <br>fornecendo soluções de monitoramento sem fio das condições biométricas e ambientais de seus colaboradores e pacientes.
    </p>
  </div>

  <div class="bgimg-2">
    <div class="caption" style="top: 42%;">
      <span class="border" style="background-color:transparent;font-size:25px;color:crimson;">
        SEGURANÇA, CONFIABILIDADE, ECONOMIA
      </span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: center; height:110px;">
      <div style="width: 20%; float: left;">
        <img src="/images/ico1.png" style="width: 95px;">
      </div>
      <div style="width: 20%; float: left;">
        <img src="/images/ico2.png" style="width: 95px;">
      </div>
      <div style="width: 20%; float: left;">
        <img src="/images/ico3.png" style="width: 95px;">
      </div>
      <div style="width: 20%; float: left;">
        <img src="/images/ico4.png" style="width: 95px;">
      </div>
      <div style="width: 20%; float: left;">
        <img src="/images/ico5.png" style="width: 95px;">
      </div>
    </div>
  </div>

  <div class="bgimg-3">
    <div class="caption" style="top: 42%;">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SCROLL UP</span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
    </div>
  </div>

  <div class="bgimg-4">
    <div class="caption" style="top: 28%;">
      <h3 style="color: white;">TRAGA SEU PROJETO, ESSA EQUIPE ESPERA POR VOCÊ</h3>
      <div style="width:25%; float: left;font-size:20px;color: #f7f7f7;">
        <img src="/images/av_marli.jpg" class="avatar" style="width: 120px;">
        <br>MARLI
      </div>
      <div style="width:25%; float: left;font-size:20px;color: #f7f7f7;">
        <img src="/images/av_andre.jpg" class="avatar" style="width: 120px;">
        <br>ANDRÉ
      </div>
      <div style="width:25%; float: left;font-size:20px;color: #f7f7f7;">
        <img src="/images/av_tati.jpg" class="avatar" style="width: 120px;">
        <br>TATIANA
      </div>
      <div style="width:25%; float: left;font-size:20px;color: #f7f7f7;">
        <img src="/images/av_carlos.jpg" class="avatar" style="width: 120px;">
        <br>CARLOS
      </div>
    </div>
  </div>

</body>

</html>